.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.banner-img {
    width: 60%;
    height: 100%;
    max-height: 400px;
    object-fit: cover;
    border-radius: 20px;
}

.banner-overlay {
    position: absolute;
    top: 0;
    left: 20%;
    width: 60%;
    height: 100%;
    background: rgba(54, 13, 0, 0.64);
    border-radius: 20px;
    z-index: 1;
}

.banner-content {
    position: absolute;
    z-index: 2;
    color: white;
    text-align: center;
    width: 80%;
}

.banner-content .boton-reserva {
    margin-top: 5%;
    background-color: #C93028;
    color: white;
    cursor: pointer;
    transition: transform 0.3s ease;
    padding: 10px 5% 10px;

    border-radius: 10px;
}

.banner-content .boton-reserva:hover {
    background-color: #b22b24;
    transform: scale(1.05);
}

.banner-content .boton-reserva:active {
    background-color: #8d231d;
}

@media screen and (max-width: 1024px) {
    .banner {
        width: 100%;
        height: 300px;
    }

    .banner-img {
        width: 80%;
    }

    .banner-overlay {
        left: 10%;
        width: 80%;
    }

    .banner-content {
    width: 60%;
}

    .banner-content h1 {
        font-size: 1.5rem;
    }
}