footer {
    background-color: white;
    color: black;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a {
    color: black;
    font-weight: normal;
}

@media screen and (max-width: 1024px) {
    footer {
        flex-direction: column;
        gap: 5px;
        padding-bottom: 5%;
    }

    footer p {
        margin-bottom: 0;
    }

    footer span {
        display: none;
    }
}